<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <contexts>
      <context type="ElectionInfo.Model.ModelContext, ElectionInfo.Model">
        <databaseInitializer type="ElectionInfo.Model.Migrations.DatabaseInitializer, ElectionInfo.Model" />
      </context>
    </contexts>
  </entityFramework>
  <connectionStrings>
    <add name="ModelContext"
         connectionString="Data Source=tcp:rl8l6tzajc.database.windows.net,1433; Initial Catalog=ElectionInfo; User ID=election-info@rl8l6tzajc; Password=,-1N'-N:Itb**/lt0%6Z; MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>