@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:youkainoniichan@gmail.com">youkainoniichan@gmail.com</a></span>
    </p>
</section>