@{
    ViewBag.Title = "О сайте";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Данный сайт предоставляет возможность проводить разнообразные выборки на основании данных о голосовании на по выборах. 
                Все данные взяты с сайта <a href="http://www.vybory.izbirkom.ru/izbirkom.html">ЦИК России</a>.
            </p>
        </div>
    </section>
}
